.listing-wrapper{
  display: flex;
  margin-left: -4rem;
  
}

.foods-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  margin-right: 7rem;
}

/* .img1{
  width: 22rem;
  
 
} */

.addcart{
  background-color: red;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.4rem;
  color: white;
}

@media screen and (max-width: 600xp) {
  /* .listing-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: red;
  }
   */
  .foods-wrapper{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  
  .img img{
    width: 20rem;
  }

  

  



}